{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div>space</div>
    <div>space</div>
    <div>space</div>
    <div>space</div>
    <div>space</div>
    <button class="scrollButton" id="scrollButton">
        <img src="/svg/scroll.svg">
    </button>
    {{!
    Цей код містить лише те, що буде виводитись в

    <body>
        Адже наш layout/default.hbs має вже структуру HTML
        }}